@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    background-image: url(../img/noise2.png);
    background-position: 0 0, 0 0;
    background-size: auto, auto;
}

:root {
    --color-primary: #4B3621;
    --color-black: #181919;
    --color-white: #ece5d5;
    --color-grey: rgba(236, 229, 213, 0.46);
    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}