.zero,
.one,
.two,
.three,
.five {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 5vw;
    padding-bottom: 0;
}

.zero_content,
.one_content,
.two_content {
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
}

.zero_content-up,
.one_content-up,
.two_content-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
}

.zero_content-up-text,
.one_content-up-text,
.two_content-up-text {
    font-size: 1.25vw;
    font-weight: 300;
    margin: 0;
}

.zero_content-up-title,
.one_content-up-title,
.two_content-up-title {
    font-size: 4vw;
    font-weight: 600;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 90%;
}

.one_content-down {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.one_content_item {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    text-align: center;
}

.one_content_item-divider {
    width: 1px;
    height: 20vh;
    background-color: var(--color-primary);

}

.one_item_title {
    font-size: 1.25vw;
    font-weight: 500;
    margin: 0;
    line-height: 125%;
}

.one_content_item {
    font-size: .9vw;
    font-weight: 300;
    margin: 0;
    line-height: 125%;
}

.two_content-down {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    height: 28vw;
}

.two_content_item {
    width: 28vw;
    height: 28vw;
    background-color: var(--color-primary);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    padding: 1vw;
    position: relative;
}

.two_image-1 {
    background-image: url(../img/classic.jpg);
}

.two_image-2 {
    background-image: url(../img/deluxe.jpg);
}

.two_image-3 {
    background-image: url(../img/luxury.jpg);
}

.two_content_item-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: relative;
}

.two_item-title {
    font-size: 4vw;
    font-weight: 600;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 75%;
    position: absolute;
    color: var(--color-grey);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.two_content_item:hover .two_item-title {
    color: var(--color-white);
}

.three_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-primary);
    gap: 5vw;
}

.three_content-left {
    height: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.three_content-right {
    height: 100%;
    width: 50%;
    display: flex;
    gap: 2vw;
}

.three_content-left-text {
    font-size: 1.25vw;
    font-weight: 300;
    margin: 0;
}

.three_content-left-title {
    font-size: 4vw;
    font-weight: 600;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 90%;
}

.three_right_item {
    border-radius: 100%;
}

.three_right_item:hover {
    transform: scale(0.9);
    transition: all .5s ease-in-out;
}

.three_item_content {
    width: 14vw;
    height: 14vw;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    text-decoration: none;
}

.three_item_content-title {
    font-size: 1vw;
    font-weight: 400;
    color: var(--color-primary);
    text-decoration: none;
    margin: 0;
}

.four {
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10vh 5vw;
    padding-bottom: 0;
    position: relative;
}

.four_content {
    display: flex;
    justify-content: space-between;
    height: 80%;
    gap: 5vw;
}

.four_content-left {
    width: 50%;
    height: 100%;
    background-image: url(../img/experience1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.four_content-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5vh;
    color: var(--color-primary);

}

.four_text_title-small {
    font-size: 1.25vw;
    font-weight: 500;
    margin: 0;
    line-height: 125%;
}

.four_text_title-big {
    font-size: 4vw;
    font-weight: 600;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 90%;
}

.four_text_description {
    font-size: .9vw;
    font-weight: 300;
    margin: 0;
    line-height: 125%;
}

.four_content_button {
    border: none;
    border-radius: 50px;
    padding: .75vh 1vw;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
    background-image: url(../img/noise2.png);
    background-position: 0 0, 0 0;
    background-size: auto, auto;
}

.four_content_button-title {
    font-size: 1.25vw;
    font-weight: 300;
    margin: 0;
}

.four_button-close {
    position: absolute;
    top: 10vw;
    right: 5vw;
    width: 2.75vw;
    height: 2.75vw;
    border-radius: 999px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    color: var(--color-white);
    cursor: pointer;
}

.fa-solid {
    font-style: normal;
    font-variant: normal;
}

.five_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.five_item {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    color: var(--color-primary);
}

.five_number {
    font-size: 5vw;
    font-weight: 600;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 75%;
}

.five_item-down {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.five_item-down-circle {
    width: 1vw;
    height: 1vw;
    background-color: var(--color-primary);
    border-radius: 999px;
}

.five_item-down-text {
    font-size: 1vw;
    font-weight: 300;
    margin: 0;
}

.zero_content-down {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
}

.zero_item {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 30%;
}

.zero_item_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2vh;
    padding: 0 2.5vw;
}

.zero_item_div_content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.zero_item-title {
    font-size: 1.25vw;
    font-weight: 500;
    margin: 0;
    line-height: 125%;
}

.zero_item-text {
    font-size: .9vw;
    font-weight: 300;
    margin: 0;
    line-height: 150%;
    text-align: justify;
}

.zero_item-center {
    width: 45%;
}

.zero_position_up-left {
    position: relative;
    right: 3vw;
}

.zero_position_down-left {
    position: relative;
    left: 3vw;
}

.zero_position_up-rigth {
    position: relative;
    left: 3vw;
}

.zero_position_down-rigth {
    position: relative;
    right: 3vw;
}

.collage {
    margin-inline: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);

    grid-template-areas:
        "   one    one     one     two     ..      "
        "   one    one     one     three   three   "
        "   one    one     one    three    three   "
        "   four   five    five    six     seven   "
        "   ..     five    five    ..      ..      ";
}

.collage>div {
    overflow: hidden;
    border-radius: 0.5rem;
}

.collage img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.collage img:hover {
    scale: 1.15;
    rotate: 3deg;
}

.collage :nth-child(1) {
    grid-area: one;
}

.collage :nth-child(2) {
    grid-area: two;
}

.collage :nth-child(3) {
    grid-area: three;
}

.collage :nth-child(4) {
    grid-area: four;
}

.collage :nth-child(5) {
    grid-area: five;
}

.collage :nth-child(6) {
    grid-area: six;
}