.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    width: 100%;
    height: 5vw;
    position: fixed;
    justify-content: center;
    z-index: 10;
}

.header_menu {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 6vw;
    background-color: var(--color-white);
    background-image: url(../img/noise2.png);
    background-position: 0 0, 0 0;
    background-size: auto, auto;
    color: var(--color-primary);
    z-index: 9;
}

.menu_text {
    cursor: pointer;
    font-size: 7vw;
    font-weight: 600;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 90%;
}

.menu_link {
    text-decoration: none;
    color: var(--color-primary);
}

.menu_link:hover {
    color: var(--color-black);
}

.nav_content {
    width: 90%;
    height: 60%;
    justify-content: space-between;
    border-radius: 999px;
    padding: 1vw 1.5vw;
    box-shadow: 0 0 5px var(--color-primary);
    background: linear-gradient(to bottom, var(--color-grey), var(--color-grey));
    backdrop-filter: blur(5px);
}

.nav-left {
    width: 3.50vw;
    height: 2.50vw;
    background-color: var(--color-primary);
    border-radius: 999px;
    justify-content: center;
}

.nav-right {
    height: 100%;
    gap: 1vw;
}

.navR_content-right {
    width: 10vw;
    height: 2.50vw;
    justify-content: center;
    padding: 0 .75vw;
    gap: .5vw;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 999px;
}

.navR_content-left {
    width: 2.75vw;
    height: 2.50vw;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 999px;
}

.nav_title {
    margin: 0;
    font-size: 1vw;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
}

.menu {
    width: 55%;
    height: 55%;
}

.audio {
    width: 50%;
    height: 50%;
}

.nav_logo {
    width: 20%;
    height: 70%;
}

.header_slider-title {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1vw;
    font-family: "Archivo Black", sans-serif;
    font-size: 7.5vw;
    font-weight: bold;
    color: var(--color-white);
}

.nav,
.nav_content,
.nav-right,
.nav-left,
.navR_content-right,
.navR_content-left {
    display: flex;
    align-items: center;
}

.nav-left,
.navR_content-right,
.navR_content-left {
    cursor: pointer;
    border: none;
}